
// Use these settings if connecting to a server using http
export const API_ROOT_URL = `http://${window.location.hostname}:8000/sealog-server`;
export const WS_ROOT_URL = `ws://${window.location.hostname}:8000/ws`;

// Use these settings if connecting to a server using https
// export const API_ROOT_URL = `https://${window.location.hostname}:8000/sealog-server`;
// export const WS_ROOT_URL = `wss://${window.location.hostname}:8000/ws`;

// Change this if not hosting the client at the webserver's document root i.e. '/sealog/'
export const ROOT_PATH = "/sealog/";

// Where the images are hosted on the webserver.
export const IMAGE_PATH = "/files/images";

// The reCaptcha site key
export const RECAPTCHA_SITE_KEY = ""

// Site customization

// Text show on the login page.  If a login image is defined then this text will appear below the image.
export const LOGIN_SCREEN_TXT = "";

// Image file shown on the login page.  This image needs to be saved in the ./dist/images folder
export const LOGIN_IMAGE = "";

// Text show on the main page above the cruise list.
export const MAIN_SCREEN_TXT = "Sealog provides the Oceanographic Research community with an open-source tool for recording, reviewing, and exporting real-time scientific and/or operational observations.";

// Title displayed on the left side of the title bar
export const HEADER_TITLE = "Sealog";
